<%- include("partials/head", {title: "list carts"}) %>

<body>
    <%- include("partials/nav", {carts, user}) %>
    <% if(carts.length > 0) { %>
    <table>

        <% carts.forEach(el => { %>
        <th><img src="<%= el.Product.picture %> " width="200px" height="250px"></th>
        <th><%= el.Product.name %> </th>
        <th><%= el.Product.convertedPrice() %> </th>
        <th><button onclick="onReduce('<%= el.id %>', '<%=el.quantity%>')">-</button><%= el.quantity %> <button
                onclick="onAdd('<%=el.id%>', '<%=el.quantity%>')">+</button></th>
        <th><%= el.quantity * el.Product.price %> </th>
        <% }) %>
        <br><br>



        <% } else { %>

        <p>Anda belum menbahkan barang ke keranjang</p>

        <% } %>
        <button onclick="clickBuy()" type="submit">Beli</button>
    </table>
    <script>
        const onAdd = (id, quantity) => {
            console.log(id, quantity)
            window.location.href = `/carts/${id}/add-quantity`
        }

        const onReduce = (id, quantity) => {
            console.log(id, quantity)
            if (quantity <= 1) {
                // remove

                window.location.href = `/carts/${id}/delete`
            } else {
                // reduce
                window.location.href = `/carts/${id}/reduce-quantity`
            }
        }
        const clickBuy = () => {
            window.location.href = `/carts/buy`
        }
    </script>
</body>