<%- include("partials/head", {title: "product description"}) %>

<body>
    <%- include("partials/nav", {carts : [], user}) %>

    <div class="description-product">
        <img src="<%= data.picture%>"> 
        <div class="description-product-text">
            <p><%= data.description %> </p> 
            <p><%= data.convertedPrice(data.price)%> </p>
            <button onclick="clickAddToCart('<%= data.id %>')">tambah ke keranjang</button>
        </div>
    </div>
</body>

<%- include("partials/footer") %>
<script>
    const clickAddToCart = (id) => {
        alert(id)
        window.location.href = `/carts/${id}/add`
    }
</script>

</html>